@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --text-xxs: 0.625rem;

  --color-dark-bg: #1e1b24;
  --color-card-black: #141516;
  --color-main-black: #222129;
  --color-main-green: #8aefb9;
  --color-main-gray: #2f2f2f;
  --color-dark-gray: #232528;
  --color-main-purple: #494465;
  --color-main-yellow: #f9edc2;
  --color-color-bg: #141414;
  --color-color-main: #1677FF;
  --color-color-blue: hsl(219 90% 60%);
  --color-color-orange: hsl(26 92% 58%);
  --color-color-green: hsl(145 58% 57%);
  --color-color-pink: hsl(333 100% 70%);
  --color-color-red: hsl(0 100% 98.2%);
  --color-color-100: hsl(0 0% 100%);
  --color-color-70: hsl(0 0% 72%);
  --color-color-40: hsl(0 0% 45%);
  --color-color-30: hsl(0 0% 36%);
  --color-color-20: hsl(0 0% 26%);
  --color-color-10: hsl(0 0% 17%);
  --color-color-5: hsl(0 0% 13%);
  --background-image-gradient-pricing-section: linear-gradient(
    180deg,
    rgba(44, 45, 54, 0.7) 75%,
    rgba(34, 33, 41, 0.7) 100%
  );
  --background-image-gradient-price-diamond-text: linear-gradient(
    178deg,
    #ffd3f5 8.39%,
    #ecf3ff 34.77%,
    #ecf3ff 54.13%,
    rgba(255, 211, 245, 0) 78.31%
  );
  --background-image-gradient-price-text: linear-gradient(
    181deg,
    #fff -57.72%,
    #ecf3ff 30.89%,
    rgba(255, 211, 245, 0) 80.41%
  );
  --background-image-gradient-faded-out: linear-gradient(180deg, rgba(34, 33, 41, 0) 0%, #222129 100%);
  --background-image-gradient-step-section: linear-gradient(180deg, #141516 0%, #000 27.5%, #000 87%, #141516 100%);
  --background-image-gradient-main: linear-gradient(280deg, #4ee794 -25.06%, #fff 53.21%, #f32ff7 146.98%);
  --background-image-gradient-form: linear-gradient(
    270deg,
    rgba(20, 21, 22, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 13.5%,
    rgba(0, 0, 0, 0.7) 85%,
    rgba(20, 21, 22, 0.7) 100%
  );

  --container-pc-head: 1840px;
  --container-pc: 1322px;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-input: 0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);

  --font-din: var(--font-din);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
  --animate-marquee: marquee var(--duration) linear infinite;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@utility container-centered {
  width: 100%;
  margin-inline: auto;
  padding-inline: 0.75rem;

  @media (width >= 1386px) {
    max-width: 1386px;
    padding-inline: 2rem;
  }
}

@utility container-py {
  padding-block: 60px;
  @media (width >= 1024px) {
    padding-block: 100px;
  }
}

@utility container-wide {
  width: 100%;
  margin-inline: auto;
  padding-inline: 0.75rem;
  max-width: 1600px;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility input-border {
  @apply bg-main-black h-12 rounded-lg border p-3 outline-hidden focus:border-none focus:ring-0 focus:outline-hidden;
}

@utility login-btn {
  @apply bg-color-main text-white;
}

@utility text-gradient-main {
  @apply bg-gradient-main bg-clip-text text-transparent;
}

@utility text-gradient-price-diamond-text {
  @apply bg-gradient-price-diamond-text bg-clip-text text-transparent drop-shadow-[0_-1px_0_#FF5E87];
}

@utility text-gradient-price-text {
  @apply bg-gradient-price-text bg-clip-text text-transparent;
}

@utility bg-frosted-glass {
  @apply backdrop-blur-lg backdrop-filter;
}

@utility faded-content {
  @apply before:bg-gradient-faded-out before:absolute before:top-0 before:left-0 before:size-full before:content-[""];
}

@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  .trapezoidal {
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  }
}


@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
